# --- Node.js ---
node_modules/
dist/
build/
npm-debug.log*

# --- Python ---
venv/
__pycache__/
*.pyc

# --- Project Specific ---
# The folder where Moodle files are downloaded
materials/
# Environment variables (Keep this secret!)
.env

# --- OS System Files ---
.DS_Store
Thumbs.db

moodle_sync.log
